/* CSS Document */
body{margin:0px;}
.linea {background-color:#CCCCCC; color:#FF0000; font-size:22px;}
.lineb {font-size:22px;}
.linec {color:#ff0000; font-size:18px;}
.lined {color:#ff0000; font-size:22px;}
.linee {color:#000099; font-size:12px;}
.linef {color:#000099; font-size:18px;}
.lineg {color:#0000FF; font-size:14px;}
.lineh {color:#ff0000; font-size:16px;}
.linei {background-color:#FFFF00; color:#000000; font-size:16px;}
.linej { background-color:#00FF00; color:#000000; font-size:16px;}
.linek {color:#ff0000; font-size:16px;}
.linel {color:#66CCFF; font-size:18px;}


