/* CSS Document */
body{
background-image:url(/images/metal.jpg);
/*font-family:Arial, Helvetica, sans-serif; */
/*font:Arial;*/
background-attachment: fixed;
font-size:8px;
margin:0px;
cursor:crosshair;
}
a{cursor:crosshair;color:#000000;}



.canceled{background-color:#CCCCCC; color:#000000; white-space:pre;border-top-style:solid; border-top-width:1px;border-bottom-style:solid; border-bottom-width:1px;}

.postponed{background-color:#FFFF00; color:#000000; white-space:pre;border-top-style:solid; border-top-width:1px;border-bottom-style:solid; border-bottom-width:1px;}






.r1{ background-color:#FFFFFF;color:#000000;border-top-style:solid; border-top-width:1px;border-bottom-style:solid; border-bottom-width:1px;white-space:pre;}


/* x0 is a update required class */
.x0{ border-right-width:3px;border-right-color:#000000; border-right-style:solid; text-align:left; text-decoration:line-through }

.x1{ border-right-width:3px;border-right-color:#FF0000; border-right-style:solid; text-align:left;}
.x2{ border-right-width:3px;border-right-color:#0000FF; border-right-style:solid; text-align:left;}
.x3{ border-right-width:3px;border-right-color:#00CC00; border-right-style:solid; text-align:left;}
.x4{ border-right-width:3px;border-right-color:#FFFF00; border-right-style:solid; text-align:left;}
.x5{ border-right-width:3px;border-right-color:#00FFFF; border-right-style:solid; text-align:left;}
.x6{ border-right-width:3px;border-right-color:#0FFFF0; border-right-style:solid; text-align:left;}
.x7{ border-right-width:3px;border-right-color:#F0000F; border-right-style:solid; text-align:left;}
.x8{ border-right-width:3px;border-right-color:#F0F0F0; border-right-style:solid; text-align:left;}
.x9{ border-right-width:3px;border-right-color:#996699; border-right-style:solid; text-align:left;}
.x10{ border-right-width:3px;border-right-color:#FF33CC; border-right-style:solid; text-align:left;}
.x11{ border-right-width:3px;border-right-color:#FF33CC; border-right-style:solid; text-align:left;}
.x12{ border-right-width:3px;border-right-color:#FF33CC; border-right-style:solid; text-align:left;}
.x13{ border-right-width:3px;border-right-color:#FF33CC; border-right-style:solid; text-align:left;}
.x14{ border-right-width:3px;border-right-color:#FF33CC; border-right-style:solid; text-align:left;}
.x15{ border-right-width:3px;border-right-color:#FF33CC; border-right-style:solid; text-align:left;}
.x16{ border-right-width:3px;border-right-color:#FF33CC; border-right-style:solid; text-align:left;}
.x17{ border-right-width:3px;border-right-color:#FF33CC; border-right-style:solid; text-align:left;}
.x18{ border-right-width:3px;border-right-color:#FF33CC; border-right-style:solid; text-align:left;}
.x19{ border-right-width:3px;border-right-color:#FF33CC; border-right-style:solid; text-align:left;}
.x20{ border-right-width:3px;border-right-color:#FF33CC; border-right-style:solid; text-align:left;}
.x21{ border-right-width:3px;border-right-color:#FF33CC; border-right-style:solid; text-align:left;}
.x22{ border-right-width:3px;border-right-color:#FF33CC; border-right-style:solid; text-align:left;}
.x23{ border-right-width:3px;border-right-color:#FF33CC; border-right-style:solid; text-align:left;}
.x24{ border-right-width:3px;border-right-color:#FF33CC; border-right-style:solid; text-align:left;}
.x25{ border-right-width:3px;border-right-color:#FF33CC; border-right-style:solid; text-align:left;}
.x26{ border-right-width:3px;border-right-color:#FF33CC; border-right-style:solid; text-align:left;}
.x27{ border-right-width:3px;border-right-color:#FF33CC; border-right-style:solid; text-align:left;}
.x28{ border-right-width:3px;border-right-color:#FF33CC; border-right-style:solid; text-align:left;}



.footer{background-color:#CCCCCC}




